.appearance {
  grid-column: 12 span;
  width: 100%;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }

  &__list {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    row-gap: 40px;

    @include high-desktop {
      grid-template-columns: repeat(10, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(8, 1fr);
    }

    @include small-tablet {
      grid-template-columns: repeat(6, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(4, 1fr);
      row-gap: 30px;
    }
  }

  &__item {
    grid-column: 2 span;
  }

  &__btn {
    padding: 12px 25px;
    width: auto;

    @include mobile {
      padding: 12px;
    }
  }

  &__colors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 105px;
    height: 50px;
    gap: 5px;
  }

  &__color {
    border-radius: 5px;

    &--accent {
      background-color: var(--accent-color);
    }

    &--gray {
      background-color: var(--border-color);
    }

    &--light {
      background-color: var(--light-color);
    }

    &--dark {
      background-color: var(--dark-color);
    }

    &--green {
      background: var(--green-linear-color);
    }

    &--dark-green {
      background: var(--dark-green-linear-color);
    }

    &--bg {
      background: var(--bg-color);
    }

    &--yellow {
      background-color: var(--flup-accent-color);
    }

    &--light-gray {
      background-color: var(--flup-gray-color);
    }
  }
}
